.logo-container {
    z-index: 0;
    width: 550px;
    height: 609px;
    position: absolute;
    left: 40%;
    margin: auto;

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin: auto;
        width: 100%;
        transform: rotateZ(20deg);
        z-index: 1;
    }
}
